inbound:
  name: "inbound-server"
  server:
    type: "mux"
    mux: "muxed"
  client:
    tcp:
      serverAddress: "127.0.0.1:7233"
      tls:
        # Should be Temporal Server cert
        certificatePath: "./develop/certificates/temporal1.pem"
        # Should be Temporal Server key
        keyPath: "./develop/certificates/temporal1.key"
        # Should be Temporal Server cert
        serverCAPath: "./develop/certificates/temporal1.pem"
        # Should be Temporal Server identity name from serverCAPath
        serverName: "faketemporal-1.cluster.tmprl.cloud"
  aclPolicy:
    allowedMethods:
      adminService:
        - AddOrUpdateRemoteCluster
        - RemoveRemoteCluster
        - DescribeCluster
        - DescribeMutableState
        - GetNamespaceReplicationMessages
        - GetWorkflowExecutionRawHistoryV2
        - ListClusters
        - StreamWorkflowReplicationMessages
        - ReapplyEvents
        - GetNamespace # for EagerGetNamespace
outbound:
  name: "outbound-server"
  server:
    tcp:
      listenAddress: "0.0.0.0:9233"
      tls:
        # Should be the proxy server cert
        certificatePath: "./develop/certificates/proxy1.pem"
        # Should be the proxy server key
        keyPath: "./develop/certificates/proxy1.key"
        # Don't care about the client CA-cert because we don't expect one
        clientCAPath: ""
        requireClientAuth: false
  client:
    type: "mux"
    mux: "muxed"
mux:
  - name: "muxed"
    mode: "server"
    server:
      listenAddress: "0.0.0.0:8233"
      tls:
        # Should be the proxy-server certificate
        certificatePath: "./develop/certificates/proxy1.pem"
        # Should be the proxy-server key
        keyPath: "./develop/certificates/proxy1.key"
        # Should be the proxy-client certificate
        clientCAPath: "./develop/certificates/proxy2.pem"
        requireClientAuth: true
healthCheck:
  protocol: "http"
  listenAddress: "0.0.0.0:8555"
namespaceNameTranslation:
  mappings:
    - localName: "mg-hybrid"
      remoteName: "mg-hybrid"
metrics:
  prometheus:
    listenAddress: "0.0.0.0:9090"
# This enables profiling with the default config and port
profiling: {}