inbound:
  name: "inbound-server"
  server:
    type: "mux"
    mux: "muxed"
  client:
    tcp:
      serverAddress: "127.0.0.1:7234"
      tls:
        # Should be Temporal Server cert
        certificatePath: "./develop/certificates/temporal2.pem"
        # Should be Temporal Server key
        keyPath: "./develop/certificates/temporal2.key"
        # Should be Temporal Server cert
        serverCAPath: "./develop/certificates/temporal2.pem"
        # Should be Temporal Server identity name from serverCAPath
        serverName: "faketemporal-2.cluster.tmprl.cloud"
  aclPolicy:
    allowedMethods:
      adminService:
        - AddOrUpdateRemoteCluster
        - RemoveRemoteCluster
        - DescribeCluster
        - DescribeMutableState
        - GetNamespaceReplicationMessages
        - GetWorkflowExecutionRawHistoryV2
        - ListClusters
        - StreamWorkflowReplicationMessages
        - ReapplyEvents
        - GetNamespace # for EagerGetNamespace
outbound:
  name: "outbound-server"
  server:
    tcp:
      externalAddress: "127.0.0.1:9234"
      listenAddress: "0.0.0.0:9234"
      tls:
        # Should be the proxy server cert
        certificatePath: "./develop/certificates/proxy1.pem"
        # Should be the proxy server key
        keyPath: "./develop/certificates/proxy1.key"
        # Don't care about the client CA-cert because we don't expect one
        clientCAPath: ""
        requireClientAuth: false
  client:
    type: "mux"
    mux: "muxed"
mux:
  - name: "muxed"
    mode: "client"
    client:
      serverAddress: "127.0.0.1:8233"
      tls:
        # Should be the proxy-client certificate
        certificatePath: "./develop/certificates/proxy2.pem"
        # Should be the proxy-client key
        keyPath: "./develop/certificates/proxy2.key"
        # Should be the proxy-server certificate
        serverCAPath: "./develop/certificates/proxy1.pem"
outboundHealthCheck:
  protocol: "http"
  listenAddress: "0.0.0.0:8556"
namespaceNameTranslation:
  mappings:
    - localName: "mg-hybrid"
      remoteName: "mg-hybrid"
metrics:
  prometheus:
    listenAddress: "0.0.0.0:9090"
# This enables profiling with the default config and port
profiling: {}