migration:
  allowedActions:
    adminService:
      - AddOrUpdateRemoteCluster
      - DescribeCluster
      - DescribeMutableState
      - GetNamespaceReplicationMessages
      - GetWorkflowExecutionRawHistoryV2
      - ListClusters
      - StreamWorkflowReplicationMessages
  allowedNamespaces:
    - namespace1
    - namespace2
