inbound:
  name: "inbound-proxy"
  server:
    listenAddress: ""
    tls:
      certificatePath: ""
      keyPath: ""
      clientCAPath: ""
      requireClientAuth: true
  client:
    forwardAddress:
    tls:
      certificatePath: ""
      keyPath: ""
      serverCAPath: ""
      serverName: ""
  aclPolicy:
    migration:
    allowedMethods:
      adminService:
        - AddOrUpdateRemoteCluster
        - DescribeCluster
        - DescribeMutableState
        - GetNamespaceReplicationMessages
        - GetWorkflowExecutionRawHistoryV2
        - ListClusters
        - StreamWorkflowReplicationMessages
    allowedNamespaces:
      - namespace1
      - namespace2

outbound:
  name: "outbound-proxy"
  server:
    listenAddress:
    tls:
      certificatePath: ""
      keyPath: ""
      clientCAPath: ""
      requireClientAuth: true
  client:
    forwardAddress:
    tls:
      certificatePath: ""
      keyPath: ""
      serverCAPath: ""
      serverName: ""
  namespaceNameTranslation:
    mappings:
      - localName: "example"
        remoteName: "example.cloud"