inbound:
  name: "inbound-proxy"
  server:
    tcp:
      listenAddress: ""
      tls:
        certificatePath: ""
        keyPath: ""
        clientCAPath: ""
        requireClientAuth: true
    keepalive:
      maxConnectionIdle: "60s"
      maxConnectionAge: "61s"
      # Missing values here!
  client:
    tcp:
      serverAddress:
      tls:
        certificatePath: ""
        keyPath: ""
        serverCAPath: ""
        serverName: ""
  aclPolicy:
    allowedMethods:
      adminService:
        - AddOrUpdateRemoteCluster
        - DescribeCluster
        - DescribeMutableState
        - GetNamespaceReplicationMessages
        - GetWorkflowExecutionRawHistoryV2
        - ListClusters
        - StreamWorkflowReplicationMessages
    allowedNamespaces:
      - namespace1
      - namespace2
  api_overrides:
    adminService:
      DescribeCluster:
        response:
          failover_version_increment : 100

outbound:
  name: "outbound-proxy"
  server:
    tcp:
      listenAddress:
      tls:
        certificatePath: ""
        keyPath: ""
        clientCAPath: ""
        requireClientAuth: true
  client:
    tcp:
      serverAddress:
      tls:
        certificatePath: ""
        keyPath: ""
        serverCAPath: ""
        serverName: ""
healthCheck:
  protocol: "http"
  listenAddress: ""
namespaceNameTranslation:
  mappings:
    - localName: "example"
      remoteName: "example.cloud"
metrics:
  prometheus:
      framework: "tally"
      listenAddress: "0.0.0.0:9090"
profiling:
  pprofAddress: "localhost:6060"
